<h1><%= annonce.titre %></h1>
<p><%= annonce.description %></p>
<p><strong>Date :</strong> <%= new Date(annonce.datePublication).toLocaleDateString("fr-FR") %></p>
<p><strong>Lieu :</strong> <%= annonce.lieu %></p>
<p><strong>Type de Contrat :</strong> <%= annonce.typeContrat %></p>
<% if (annonce.salaire) { %>
  <p><strong>Salaire :</strong> <%= annonce.salaire %></p>
<% } %>

<h2>Entreprise</h2>
<p><strong>Nom :</strong> <%= annonce.entreprise.nom %></p>
<p><strong>Email :</strong> <%= annonce.entreprise.coordonnees.email %></p>
<p><strong>Téléphone :</strong> <%= annonce.entreprise.coordonnees.telephone %></p>
<p><strong>Adresse :</strong> <%= annonce.entreprise.coordonnees.adresse %></p>

