<h1>Liste des annonces</h1>

<div class="Annonces">
  <% Annonces.forEach((a, index) => { %>
    <div class="card">
      <h2><%= a.titre %></h2>
      <p><%= a.description %></p>
      <p><strong>Lieu :</strong> <%= a.lieu %></p>
      <p><strong>Type :</strong> <%= a.typeContrat %></p>
      <p><strong>Date de publication :</strong><%= new Date(a.datePublication).toLocaleDateString("fr-FR") %></p>
      <a href="/Annonces/<%= a.id %>">Voir plus</a>
    </div>
  <% }) %>
</div>
