<%- include("../partials/head", {title: "TalentHub" }) %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    twemoji.parse(document.body, {
      folder: 'svg',
      ext: '.svg'
    });
  });
</script>

<%- include("../partials/navbar") %>

<section class="banner">
  <div class="banner-content">
    <h1>Trouvez la mission qui vous correspond.</h1>
    <p>Découvrez des annonces claires, accessibles et adaptées à vos talents. <br> Publiez, éditez ou supprimez vos offres en toute simplicité.</p>
    <a href="/Annonces" class="btn-secondary">Découvrir les Offres</a>
  </div>
</section>

<section class="annonces">
  <h2>Les Dernières annonces</h2>
  <ul class="annonces-list">
    <% annonces.forEach((a) => { %>
      <li class="annonce-card">
        <div>
          <h3><%= a.titre %></h3>
          <p><%= a.description %></p>
          <p><strong>Lieu :</strong> <%= a.lieu %></p>
          <p><strong>Type :</strong> <%= a.typeContrat %></p>
          <p><strong>Date de publication :</strong> <%= new Date(a.datePublication).toLocaleDateString("fr-FR") %></p>
          <a href="/Annonces/<%= a.id %>" class="btn-link">Voir plus</a>
        </div>
      </li>
    <% }) %>
  </ul>
  <div class="cta-center">
    <a href="/Annonces" class="btn-primary">Consulter toutes les annonces</a>
  </div>
</section>


<% console.log("[Vue] Vue index.ejs en cours de rendu") %>
<%- include ("../partials/footer") %>
